/* ---------- Game ---------- */
#canvas { border:1px solid black; top:0px; left:0px; }
.button { position:absolute; border:1px solid black; }
#left-controls { position:absolute; left:1px; bottom:0px; display:none; }
#right-controls { position:absolute; right:1px; bottom:0px; display:none; }
#up { width:200px; height:100px; bottom:100px;}
#left { width:100px; height:100px; bottom:0px;}
#right { width:100px; height:100px; bottom:0px; left:100px; }
#space { width:200px; height:200px; bottom:0px; right:0px; }
